{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
  'clear-both',
] %}
<div{{ attributes.addClass(classes) }}>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseTandem" role="button" aria-expanded="false"
     aria-controls="collapseTandem">
    {{ 'Open/Close'|t }}
  </a>
  <div class="collapse" id="collapseTandem">
    <div class="card card-body">
      {% for value in content %}
        <p>{{ value }}</p>
      {% endfor %}
    </div>
  </div>
</div>
